body, html {
          margin: 0;
          padding: 0;
          /*height: 100%;
          overflow: hidden;*/
          font-family: "Rubik", sans-serif;
          -webkit-touch-callout: none;
          -webkit-user-select: none;
          -khtml-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          touch-action: none; /*manipulation;*/
        }

        @media (prefers-color-scheme: dark) {
        	body, div	{
        		background-color:black;
        		color:white;
        	}
        }

        @media (prefers-color-scheme: light) {
        	body, div	{
        		background-color:white;
        		color:black;
        	}
        }

        @media screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
          .lockRotation {
            transform: rotate(90deg);
            transform-origin: right top;
            width: 100vh;
            height: 100vw;
            overflow-x: hidden;
            position: absolute;
            top: 103%;
            right: 0;
          }

          #circle{
            height: 10vh!important;
            width: 10vh!important;
            border: 1vh solid blue!important;
          }

        }

        div:not(.gamePreview):not(.gameCard):not(.grid-container) {
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
        }

        .gamePreview {
          background-color: rgba(255, 0, 0, 0);
        }

        .selectedTimer {
                  background-color: blue;
        }

        span {
          overflow: hidden auto;
          white-space: nowrap;
          text-overflow: ellipsis;
          display: block;
          margin-bottom: 5px;
          width: 100%;
        }

        .description {
            text-align: center;
            display: -webkit-box;
            /*-webkit-line-clamp: 6; specify line limit based on orientation */
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 125%;
        }

        .grid-container {
          display: grid;
          grid-template-columns: repeat(2, 1fr); /* Two equal columns */
          gap: 2vw; /* Adjust the gap as needed */
        }

        .gameCard {
      width: 100%;
      height: 200px;
      border-radius: 10px;
      margin: 0%;
      }

      .blueGradient {
        background: linear-gradient(to bottom right, #47b7ee, #7e1fe0);
      }

      .redGradient {
        background: linear-gradient(to bottom right, #ff76c0, #ff1818);
      }

      .greenGradient {
        background: linear-gradient(to bottom right, #86ff27, #03af15);
      }

      .purpleGradient {
        background: linear-gradient(to bottom right, #d3a3fc, #6d00d0);
      }

      .orangeGradient {
        background: linear-gradient(to bottom right, #FFD700, #FF6347);
      }

      .yellowGradient {
        background: linear-gradient(to bottom right, #efff65, #ffbc00);
      }

      .pinkGradient {
        background: linear-gradient(to bottom right, #ff8be3, #ff1493); 
      }
        
        @media screen and (orientation:landscape) {
                .grid {
                  display: grid;
                  grid-template-columns: repeat(3, 1fr);
                  gap: 10px;
                }
                
                .mainGamePreview {
                        height: 80%;
                }
                
                .timeOptions {
                        width: 50%;
                }
                
                .description {
                        -webkit-line-clamp: 5;
                }
        }
        
        @media screen and (orientation:portrait) {
                .mainGamePreview {
                        height: 45%;
                }
                
                .timeOptions {
                        width: 100%;
                }
                
                .description {
                        -webkit-line-clamp: 6;
                }
        }
