body, html {
          margin: 0;
          padding: 0;
          /*height: 100%;
          overflow: hidden;*/
          font-family: "Rubik", sans-serif;
          -webkit-touch-callout: none;
          -webkit-user-select: none;
          -khtml-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          touch-action: none; /*manipulation;*/
        }

        @media (prefers-color-scheme: dark) {
        	body, div	{
        		background-color:black;
        		color:white;
        	}

          .menu-bar-items {
                img {
                      filter: invert(100%);
                      -webkit-filter: invert(100%);
                }
          }
        
        input, textarea {
             background-color: #404040;
             color: white;
        }

          
        }

        @media (prefers-color-scheme: light) {
        	body, div	{
        		background-color:white;
        		color:black;
        	}
                
                input, textarea {
                     background-color: #D8D8D8;
                }
        }

        @media screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
          .lockRotation {
            transform: rotate(90deg);
            transform-origin: right top;
            width: 100vh;
            height: 100vw;
            overflow-x: hidden;
            position: absolute;
            top: 103%;
            right: 0;
          }

          .circle{
            height: 10vh!important;
            width: 10vh!important;
            border: 1vh solid blue!important;
          }

        }

        #overlay, #overlay div {
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
        }

        .gamePreview {
          background-color: rgba(255, 0, 0, 0);
        }

        .selectedTimer {
                  background: linear-gradient(to bottom right, #efff65, #ffbc00);
                  color: black;
        }

        span {
          overflow: hidden auto;
          white-space: nowrap;
          text-overflow: ellipsis;
          display: block;
          margin-bottom: 5px;
          width: 100%;
        }

        .description {
            text-align: center;
            display: -webkit-box;
            /*-webkit-line-clamp: 6; specify line limit based on orientation */
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 125%;
        }

        .grid-container {
          display: grid;
          grid-template-columns: repeat(2, 1fr); 
          gap: 2vw; 
          overflow: scroll;
          margin: 1%;
          align-items: start;
          position: fixed;
          background-color: red;
        }

        .settings-page {
                  position: fixed;
        }

        .gameCard {
                width: 100%;
                /*height: 200px;*/
                border-radius: 10px;
                margin: 0%;
                position: relative;
                display: flex;
                align-items: center; 
                flex-direction: column;
                div {
                          background-color: rgb(225, 0, 0, 0);
                }
                div:first-child {
                          position: absolute;
                          top: 3%;
                          right: 5%;
                          font-size: 150%;
                }
                img {
                          width: 70%;
                          margin: 5%;
                }
                div:last-child {
                          font-size: 125%;
                          margin-bottom: 5%;
                          display: -webkit-box;
                          overflow: hidden;
                          -webkit-line-clamp: 2;
                          -webkit-box-orient: vertical;
                          text-overflow: ellipsis; 
                          text-align: center;
                          font-weight: bold;
                }
      }

      .blueGradient {
        background: linear-gradient(to bottom right, #47b7ee, #7e1fe0);
      }

      .redGradient {
        background: linear-gradient(to bottom right, #ff76c0, #ff1818);
      }

      .greenGradient {
        background: linear-gradient(to bottom right, #86ff27, #03af15);
      }

      .purpleGradient {
        background: linear-gradient(to bottom right, #d3a3fc, #6d00d0);
      }

      .orangeGradient {
        background: linear-gradient(to bottom right, #FFD700, #FF6347);
      }

      .yellowGradient {
        background: linear-gradient(to bottom right, #efff65, #ffbc00);
      }

      .pinkGradient {
        background: linear-gradient(to bottom right, #ff8be3, #ff1493); 
      }

.menu-bar {
      position: fixed;
      left: 0;
      background-color: teal;
      color: white; 
      display: flex;
      justify-content: space-evenly;
    }


        .hidden {
            display: none !important;
        }

          .menu-bar-items {
                    background-color: rgb(225, 0, 0, 0);
                    display: flex;
                    align-items: center;
          }

          .menu-bar-text {
                    background-color: rgb(225, 0, 0, 0);
                    margin-left: auto;
                    font-weight: bold;
                    font-size: 125%;
          }

          .active {
                    background-color: #174c4d;
          }
        
        
        .color-circle {
     width: 12%; 
     height: 100%; 
     border-radius: 999px;
     border: solid 1px;
     aspect-ratio: 1/1;
}

.selectedColor {
     border: solid 5px;
}

input, textarea {
     border-radius: 30px;
}

label {
     display: block;
     margin-bottom: 1%;
}


        
        
        
        @media screen and (orientation:landscape) {
                .grid {
                  display: grid;
                  grid-template-columns: repeat(3, 1fr);
                  gap: 10px;
                }
                
                .mainGamePreview {
                        height: 80%;
                }
                
                .timeOptions {
                        width: 50%;
                }
                
                .description {
                        -webkit-line-clamp: 5;
                }

                .menu-bar {
                          top: 0;
                          width: 25vw;
                          padding-left: env(safe-area-inset-left, 0px);
                          height: 100vh; 
                          display: flex;
                          flex-flow: column;
                }

                .menu-bar-items {
                          width: 100%;
                          height: 23%;
                          padding-left: env(safe-area-inset-left, 0px);
                          margin-left: calc(-1 * env(safe-area-inset-left, 0px));
                          img {
                                    height: 70%;
                                    display: block;
                                    margin-right: 0%;
                                    margin-left: 5%;
                          }
                }

                .menu-bar-text {
                          display: block;
                          margin: auto;
                }

                .grid-container, .settings-page {
                          margin-left: 26%;
                          padding-left: env(safe-area-inset-left, 0px);
                          height: 100vh;
                          /*
                          width: 70%;
                          margin-left: env(safe-area-inset-left, 0px);
                          float: right;
                          */
                }
                
                /*
                #create-page {
                    display: flex;
                }
                */
                
                .half {
                    width: 48%;
                    height: 100%;
                    float: left;
                }
        }
        
        @media screen and (orientation:portrait) {
                .mainGamePreview {
                        height: 45%;
                }
                
                .timeOptions {
                        width: 100%;
                }
                
                .description {
                        -webkit-line-clamp: 6;
                }

                .menu-bar {
                          bottom: 0;
                          width: 100%;
                          height: 11vh; 
                }

                .menu-bar-items {
                          width: 23%;
                          height: 100%;
                          img {
                                    width: 70%;
                                    display: block;
                                    margin: auto;
                                    margin-top: 10%;
                          }
                }

                .menu-bar-text {
                          display: none;
                }

                #create-page {
                          display: flex;
                          flex-flow: column;
                }

                .grid-container, .settings-page {
                          height: 89vh;
                }

        }
